@font-face {
    font-family: chau;
    src: url(../fonts/Chau_Philomene/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
    font-family: bellota;
    src: url(../fonts/Bellota_Text/BellotaText-Regular.ttf);
}

@font-face {
    font-family: caveat;
    src: url(../fonts/Caveat/Caveat-Medium.ttf);
}

@font-face {
    font-family: caveatBrush;
    src: url(../fonts/Caveat_Brush/CaveatBrush-Regular.ttf);
}

@font-face {
    font-family: Asap;
    src: url(../fonts/Asap_Condensed/AsapCondensed-Light.ttf);
}