.buttonStroke {
    width: 155px;
}

.buttonStroke--stroke {
    fill: transparent;
    stroke: $strokeColor;
    stroke-width: 15;
    stroke-linecap: round;

    stroke-dashoffset: 3200;
    stroke-dasharray: 3200;

    transition: fill .4s cubic-bezier(0.63, 0, 0.34, 1);

}

@keyframes drawLineIn {
    0% {
        stroke-dashoffset: 3200;
        animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes drawLineOut {
    0% {
        stroke-dashoffset: 0;
        animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
    }

    100% {
        stroke-dashoffset: -3200;
    }
}

.lightDark {
    width: 55px;
}

.lightDark--stroke {
    fill: transparent;
    stroke: $strokeColor;
    stroke-width: 25;
    stroke-linecap: round;

    stroke-dashoffset: -4068;
    stroke-dasharray: 6575;


    transition: all .7s cubic-bezier(0.63, 0, 0.34, 1);

}

.phonePortfolio {
    width: 508px;

    .phonePortfolio--stroke {
        fill: transparent;
        stroke: $strokeColorRed;
        stroke-width: 4;
        stroke-linecap: round;

        stroke-dashoffset: -6425;
        stroke-dasharray: 6425;

        animation: drawPhoneOut 2s cubic-bezier(0.63, 0, 0.34, 1) forwards;
    }
}

@keyframes drawPhoneIn {
    0% {
        stroke-dashoffset: -6425;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes drawPhoneOut {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 6425;
    }
}

.desktopPortfolio {
    width: 508px;

    .desktopPortfolio--stroke {
        fill: transparent;
        stroke: $strokeColorRed;
        stroke-width: 4;
        stroke-linecap: round;

        stroke-dashoffset: -8450;
        stroke-dasharray: 8450;

        animation: drawDesktopOut 2s cubic-bezier(0.63, 0, 0.34, 1) forwards;
    }
}

@keyframes drawDesktopIn {
    0% {
        stroke-dashoffset: 8450;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes drawDesktopOut {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -8450;
    }
}