
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

//Componentes
@import 'fonts';
@import 'breackpoint';
@import 'variables';
@import 'header';
@import 'svgStyles';
@import 'buttonSvg';
@import 'itemUnderlined';
@import 'footer';

//Paginas
@import 'projects';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $fontColor;
}

body{
    background-color: $background;
    font-family: Bellota, sans-serif;
}

main{
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: chau;
    font-weight: 100;
    margin: 0;
}

p{
    line-height: 1;
}


