@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
@font-face {
  font-family: chau;
  src: url(../fonts/Chau_Philomene/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
  font-family: bellota;
  src: url(../fonts/Bellota_Text/BellotaText-Regular.ttf);
}

@font-face {
  font-family: caveat;
  src: url(../fonts/Caveat/Caveat-Medium.ttf);
}

@font-face {
  font-family: caveatBrush;
  src: url(../fonts/Caveat_Brush/CaveatBrush-Regular.ttf);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

header.header--hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header .header__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container img {
  width: 70px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header__container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

header .header__container .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

header .header__container .header__right img {
  width: 50px;
}

.buttonStroke {
  width: 155px;
}

.buttonStroke--stroke {
  fill: transparent;
  stroke: #2C2C2C;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-dashoffset: 3200;
  stroke-dasharray: 3200;
  -webkit-transition: fill 0.4s cubic-bezier(0.63, 0, 0.34, 1);
  transition: fill 0.4s cubic-bezier(0.63, 0, 0.34, 1);
}

@-webkit-keyframes drawLineIn {
  0% {
    stroke-dashoffset: 3200;
    stroke-dasharray: 3200;
    -webkit-animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3200;
  }
}

@keyframes drawLineIn {
  0% {
    stroke-dashoffset: 3200;
    stroke-dasharray: 3200;
    -webkit-animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
  }
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3200;
  }
}

@-webkit-keyframes drawLineOut {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: -3200;
    -webkit-animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
  }
  100% {
    stroke-dashoffset: -3200;
    stroke-dasharray: -3200;
  }
}

@keyframes drawLineOut {
  0% {
    stroke-dashoffset: 0;
    stroke-dasharray: -3200;
    -webkit-animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
            animation-timing-function: cubic-bezier(0.63, 0, 0.34, 1);
  }
  100% {
    stroke-dashoffset: -3200;
    stroke-dasharray: -3200;
  }
}

.phonePortfolio {
  width: 508px;
}

.phonePortfolio .phonePortfolio--stroke {
  fill: transparent;
  stroke: #9E3B43;
  stroke-width: 4;
  stroke-linecap: round;
}

.desktopPortfolio {
  width: 508px;
}

.desktopPortfolio .desktopPortfolio--stroke {
  fill: transparent;
  stroke: #9E3B43;
  stroke-width: 4;
  stroke-linecap: round;
}

.button__svg--hover:hover .buttonStroke--stroke {
  -webkit-animation: drawLineIn .4s linear forwards;
          animation: drawLineIn .4s linear forwards;
}

.button__svg--hover:hover a {
  color: #9E3B43;
}

.button__svg--hover:hover.button__svg--curriculum a {
  color: #FFF8E7;
}

.button__svg--hover:hover.button__svg--curriculum .buttonStroke--stroke {
  fill: #9E3B43;
}

.button__svg--hover:not(:hover) .buttonStroke--stroke {
  -webkit-animation: drawLineOut .4s linear forwards;
          animation: drawLineOut .4s linear forwards;
}

.button__svg {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.button__svg a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: caveatBrush;
  font-size: 1.6rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.button__svg.active {
  pointer-events: none;
}

.button__svg.active a {
  color: #9E3B43;
}

.button__svg.active .buttonStroke--stroke {
  stroke-dashoffset: 0;
  stroke-dasharray: 3200;
}

.button__svg.button__svg--arrow {
  margin-right: 100px;
}

.button__svg.button__svg--arrow img {
  width: 80px;
  position: absolute;
  right: -50px;
  top: 10px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.itemUnderlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.itemUnderlined span {
  font-size: 1.7rem;
  font-family: caveat;
}

.itemUnderlined img {
  margin-top: -3px;
  width: 172px;
}

footer {
  background-color: #faf2de;
}

footer .footer__fingerPrint {
  width: 55px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: fingerprint 0.5s steps(1) infinite;
          animation: fingerprint 0.5s steps(1) infinite;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@-webkit-keyframes fingerprint {
  0%,
  100% {
    background-image: url("../../assets/images/huella_1.png");
  }
  25% {
    background-image: url("../../assets/images/huella_2.png");
  }
  50% {
    background-image: url("../../assets/images/huella_3.png");
  }
  75% {
    background-image: url("../../assets/images/huella_4.png");
  }
}

@keyframes fingerprint {
  0%,
  100% {
    background-image: url("../../assets/images/huella_1.png");
  }
  25% {
    background-image: url("../../assets/images/huella_2.png");
  }
  50% {
    background-image: url("../../assets/images/huella_3.png");
  }
  75% {
    background-image: url("../../assets/images/huella_4.png");
  }
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.hero h1 {
  font-family: chau;
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 100;
}

.hero h1 span {
  color: #9E3B43;
}

.hero img {
  width: 500px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #faf2de;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
}

.projects .project .project__izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.projects .project .project__izq .project__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.projects .project .project__izq .project__about h2 {
  font-size: 4rem;
  font-family: chau;
  line-height: 1;
}

.projects .project .project__izq .project__about p {
  max-width: 90%;
  font-size: 1.5rem;
  line-height: 1.2;
}

.projects .project .project__izq .project__itemsCta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.projects .project .project__izq .project__itemsCta .project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project .project__izq .project__itemsCta .button__svg {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.projects .project .project__der {
  position: relative;
}

.projects .project .project__der img {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects .project .project__der .phonePortfolio, .projects .project .project__der .desktopPortfolio {
  position: relative;
  z-index: 10;
}

.projects .project .project__der.mobile img {
  top: 50%;
  left: 51.3%;
  width: 183px;
}

.projects .project .project__der.desktop img {
  top: 39%;
  left: 50%;
  width: 485px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #2C2C2C;
}

body {
  background-color: #FFF8E7;
  font-family: Bellota, sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
}

p {
  line-height: 1;
}
/*# sourceMappingURL=style.css.map */